/* 
banner using css only -- https://forum.obsidian.md/t/css-how-to-style-the-first-image-in-a-note/52839/
*/

/* LP / Reading view image selectors for banner targeting */
.internal-embed.image-embed[alt*="banner"],
.image-embed[alt*="banner"] { 
    display: contents !important; 
}

img[alt*="banner"],
.markdown-rendered img[alt*="banner"],
.cm-embed-block img[alt*="banner"] {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 220px !important;
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    object-fit: cover !important;
    object-position: 50% 50% !important;
    overflow: hidden !important;
    user-select: none !important;
    z-index: 0 !important;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) !important;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)) !important;
}

img[alt*="banner"][alt*="lower"] { object-position: 50% 30% !important; }
img[alt*="banner"][alt*="higher"] { object-position: 50% 70% !important; }

/* Push inline-title & content down when a banner is present */
.inline-title,
.metadata-container {
    position: relative !important;
    z-index: 2 !important;
}

/* Dashboard CSS Snippet (TfT Hacker) */

.dashboard {
    font-family: inherit;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 20px !important;
}

.dashboard .markdown-preview-section {
    max-width: 100%;
}

.dashboard h1 {
    border-bottom-style: dotted !important;
    border-width: 1px !important;
    padding-bottom: 3px !important;
}

/* Get rid of the parent bullet */
.dashboard div.markdown-preview-section>div>ul>li>.list-bullet {
    display: none !important;
}

/* Remove the indentation guide lines */
.dashboard.markdown-rendered.show-indentation-guide li>ul::before,
.dashboard.markdown-rendered.show-indentation-guide li>ol::before {
    display: none;
}

div.markdown-preview-section>div>ul.has-list-bullet>li {
    padding-left: 0px !important;
}

.dashboard div>ul {
    list-style: none;
    display: flex;
    column-gap: 50px;
    flex-flow: row wrap;
}

.dashboard div>ul>li {
    min-width: 250px;
    width: 15%;
}

/* Dataview support */
.dashboard ul.dataview {
    row-gap: 0px !important;
    list-style-type: disc !important;
}
